@font-face {
    font-family: "CustomFont";
    src: url('../Fonts/museomoderno-variablefont_wght-webfont.woff');
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 45%;
}

.login-button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'CustomFont';
    font-size: 22px;
    font-weight: 700;
    color: #313133;
    background: linear-gradient(to right,rgb(255, 159, 142), rgb(255, 103, 151) );
    border: none;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(255, 103, 151, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
  
.login-button:hover {
    color: #313133;
    transform: translateY(-6px);
}
  
.login-button:hover::before {
    opacity: 1;
}

a {
    color: white;
    text-decoration: none;
}


