@font-face {
    font-family: "CustomFont";
    src: url('../Fonts/museomoderno-variablefont_wght-webfont.woff');
}

#save-playlist {
    min-width: 150px;
    min-height: 40px;
    font-family: 'CustomFont';
    font-size: 16px;
    font-weight: 600;
}

.input-field {
    display: inline-block;
}

#save-input {
    display: inline-block;
    min-width: 100px;
    min-height: 30px;
    font-family: 'CustomFont';
    font-size: 12px;
    font-weight: 500;
}

.save-button {
    color: #313133;
    background: linear-gradient(to right,rgb(255, 173, 158), rgb(255, 142, 177) );
    border: none;
    border-radius: 13px;
    box-shadow: 7px 7px 14px rgba(255, 103, 151, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.save-button:hover {
    color: #313133;
    transform: translateY(-3px);
}
  
.save-button:hover::before {
    opacity: 1;
}