
@font-face {
    font-family: "CustomFont";
    src: url('../Fonts/museomoderno-variablefont_wght-webfont.woff');
}

.tracks-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    
}

.list-item {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(50deg, rgb(50, 60, 92), rgb(82, 92, 126));
    box-sizing: border-box;
    max-height: 60px;
    max-width: 760px;
    margin: 10px;
    box-shadow: -5px 7px 62px 16px rgb(28, 34, 54),
      inset 6px 6px 10px 0 rgba(0, 0, 0, 0),
      inset -6px -6px 10px 0 rgba(128, 125, 122, 0);
    
  /* box-shadow: -5px 7px 62px 16px rgb(68, 236, 190, 0.17),
      inset 6px 6px 10px 0 rgba(97, 97, 99, 0.67),
      inset -6px -6px 10px 0 rgba(92, 94, 101, 0.19);   */
} 
      
.album-cover {
    
    margin: 8px;
    -webkit-transform: scale(0.7) 
}


.artist {
    font-weight: lighter;
    font-family: "CustomFont";
    color: rgb(214, 213, 213);
    margin: 8px;
}

.album {
    font-weight: lighter;
    font-family: "CustomFont";
    color: rgb(214, 213, 213);
    margin: 8px;
    
}

.title {
    font-weight: lighter;
    font-family: "CustomFont";
    color: rgb(214, 213, 213);
    margin: 8px;
    width: 40%;
}

.track-play-wrapper {
    max-width: 20%;
}

.track-play-button{
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer; 
   -webkit-transform: scale(0.1) translate(-850px);
    
}

.track-play-button > img {
    transform: translateX(-25%);
    display: block;
    
}


    



