body {
  
 /* background: linear-gradient(135deg, rgb(40, 48, 76), rgb(50, 60, 92)); */
 background-color: rgb(40, 48, 76);
 background-size: cover;
}
@font-face {
  font-family: "CustomFont";
  src: url('./Fonts/museomoderno-variablefont_wght-webfont.woff');
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  /* border: solid black 1px; */
  border-radius: 40px;
  background: linear-gradient(50deg, rgb(50, 60, 92), rgb(82, 92, 126));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 40px;
  box-shadow: -5px 7px 62px 16px rgb(28, 34, 54),
    inset 6px 6px 10px 0 rgba(0, 0, 0, 0),
    inset -6px -6px 10px 0 rgba(128, 125, 122, 0);
}


.slide-bars-container {
  border-radius: 5%/20%;
  background: linear-gradient(50deg, rgb(50, 60, 92), rgb(82, 92, 126));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1%;
  padding: 30px;
  box-shadow: -5px 7px 62px 16px rgb(28, 34, 54),
    inset 6px 6px 10px 0 rgba(0, 0, 0, 0),
    inset -6px -6px 10px 0 rgba(128, 125, 122, 0);
}

.bar-energy {
  color: white;
  transform: translateX(80%);
  margin-right: auto;
  /* text-shadow: -7px -6px 6px rgba(0,0,0,0.32); */
  -webkit-transform: scale(1.1) translate(40px,-3px);
  font-family: 'CustomFont';
}


.bar-dance {
  color: white;
  margin-right: auto;
  /* text-shadow: -7px -6px 6px rgb(255, 248, 248); */
  -webkit-transform: scale(1.1) translate(40px,-3px);
  font-family: 'CustomFont';
}

.webcam{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(6%); /* 35 previously before adding slidebars*/
    z-index: 2;    
} 

.webcam_slider_container {
  width: 280px;
  height: 280px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 5vh
  
}

.capture-button{
  position: absolute;
  transform: translateY(280%);
  height: 34px;
  width: auto;
  cursor: pointer;
}

video {
  width: auto;
  height: 100%;
}

/* .slide-bars-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100% 10%;
  text-align: center;

} */

.range-wrap {
  position: relative;
  width: 250%;
  padding: 1em 0; /*  Giving more room for hover  */
  max-width: 400px;
  /* margin: 20px; */
}

/* Custom Bar */
.range-wrap::before {
  content: "";
  background: linear-gradient(to right,rgb(255, 173, 158), rgb(255, 142, 177) );
  width: 100%;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-56%);
  transition: height 100ms ease;
  box-shadow: -5px 7px 62px 16px rgb(28, 34, 54),
    inset 6px 6px 10px 0 rgba(0, 0, 0, 0),
    inset -6px -6px 10px 0 rgba(128, 125, 122, 0);
    
}

.range-wrap:hover::before {
  height: 38px;
}

/*  Hide Original */
.range {
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.bubble {
  background: white;
  border: 3px solid #cbd2da;
  position: absolute;
  border-radius: 10%;
  width: 2rem;
  height: 3rem;
  top: 50%;
  transform: translateY(-56%);
  pointer-events: none; /* Remove pointer events on Bubble so user can click on the actual thumb beaneath it!  */
  color: transparent;
  display: grid;
  place-items: center; /*  Place the number on the center  */
  font-weight: bold;
  transition: color 100ms ease, transform 100ms ease;
  user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
  
}

.range-wrap:hover .bubble,
.range-wrap:focus .bubble {
  color: black;
  transform: translateY(-56%) scale(1.1);
  padding: 0.1em;
}

.secret:hover  {
  display: block;
  opacity: 1;
 }

 .secret {
   opacity: 0;
 }

 .play_controls_container {
  width: 95%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(120,191,210,1) 8%, rgba(117,189,209,1) 9%, rgba(189,73,147,1) 100%);
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 15px 5px #00000045;
  z-index: 9

 }

.controls_parent_triplet{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.controls_parent_centre{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.media_button{
  height: 60%;
  width: auto;
  cursor: pointer;
  filter: invert(22%) sepia(12%) saturate(1151%) hue-rotate(161deg) brightness(93%) contrast(82%) drop-shadow(0px 0px 2px white);
}

.media_button:hover{
  filter: invert(99%) sepia(12%) saturate(1151%) hue-rotate(161deg) brightness(93%) contrast(82%) drop-shadow(0px 0px 2px rgb(255, 21, 255)) drop-shadow(0px 0px 2px rgb(255, 21, 255));
}

.play_controls_container input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 60%;
  background-color: transparent;
}
.play_controls_container input[type=range]:focus {
  outline: none;
  background-color: transparent;
}

.play_controls_container  input[type=range]:focus:hover {
  filter: drop-shadow(0px 0px 1px rgb(255, 21, 255)) drop-shadow(0px 0px 1px rgb(255, 21, 255));
}

.play_controls_container  input[type=range]::-webkit-slider-runnable-track:hover {
  filter: drop-shadow(0px 0px 1px rgb(255, 21, 255)) drop-shadow(0px 0px 1px rgb(255, 21, 255));
}
.play_controls_container  input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2f354e;;
  border-radius: 25px;
  border: 0px solid #000101;
  filter:  drop-shadow(0px 0px 2px white);

}

.play_controls_container  input[type=range]::-webkit-slider-thumb:hover {
  background: #e6e6e6;
}
.play_controls_container  input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #5cd1ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  filter:  drop-shadow(0px 0px 2px white);

}
.play_controls_container input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2f354e;
  filter:  drop-shadow(0px 0px 2px white);
  
}
.play_controls_container input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
  background-color: transparent;
}
.play_controls_container input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
.play_controls_container  input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
  background-color: transparent;
}
.play_controls_container  input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}

body {
  padding: 30px;
}
