body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(193, 143, 206);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  border: solid black 1px;
  border-radius: 15%;
  background-color: coral;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
  /* padding: 40px; */

}

.webcam{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-35%);
    z-index: 4;
    
} 
.capture-button{
  position: absolute;
  transform: translateY(-500%);
}

video {
  width: auto;
  height: 100%;
}


